{% extends 'base.html' %}

{% block content %}
<div class="row">
  <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
    <div class="card user-card">
      <div>
        <div class="image-wrapper">
          <img src="{{ g.user.header_image_url }}" alt="" class="card-hero">
        </div>
        <a href="/users/{{ g.user.id }}" class="card-link">
          <img src="{{ g.user.image_url }}" alt="Image for {{ g.user.username }}" class="card-image">
          <p>@{{ g.user.username }}</p>
        </a>
        
        <<ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Total Messages</p>
            <h4><a href="/users/{{ g.user.id }}">{{ user.messages.count() }}</a></h4>
          </li>
          
          <li class="stat">
            <p class="small">Liked Messages</p>
            <h4><a href="/users/{{ g.user.id }}">{{ liked_messages_count }}</a></h4>
          </li>

     

          <li class="stat">
            <p class="small"></p>
            <h4>
              <a href="/users/{{ user.id }}/followers" class="btn btn-outline-secondary">Following/Followers</a>
            </h4>
          </li>
          <!-- <li class="stat">
            <p class="small">Followers</p>
            <h4><a href="/users/{{ g.user.id }}/followers">{{ g.user.followers_count }}</a></h4>
          </li> -->
        </ul>
      </div>
    </div>
  </aside>



  
  <div class="col-lg-6 col-md-8 col-sm-12">
    <ul class="list-group" id="messages">
        {% for msg in messages %}
        <li class="list-group-item">
            <a href="/messages/{{ msg.id }}" class="message-link"></a>
            <a href="/users/{{ msg.user.id }}">
                <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
            </a>
            <div class="message-area">
                <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
                <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
                <p>{{ msg.text }}</p>
            </div>
            
            {% if g.user and msg.user_id != g.user.id %}
            <a href="{{ url_for('like', message_id=msg.id) }}" class="btn btn-sm btn-primary">
                <i class="fa fa-star"></i> Like
            </a>
            <a href="{{ url_for('unlike', message_id=msg.id) }}" class="btn btn-sm btn-secondary">
                <i class="fa fa-star"></i> Unlike
            </a>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
    <p>Liked Messages: {{ liked_messages_count }}</p>
    <div class="row mt-4">
      <div class="col-lg-6 col-md-8 col-sm-12 text-center">
        <a href="{{ url_for('liked_messages', user_id=g.user.id) }}" class="btn btn-primary">View Liked Messages</a>



      </div>
    </div>
</div>
</div>
{% endblock %}

